@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<body>
    <form asp-controller="Home" method="get">
        <button type="submit" asp-action="Download">Download PDF</button>
    </form>
</body>
</html>
